<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>app fullstack com express</title>
</head>
<body>
    <header>
        <%= include('partial/header)%>
    </header>
    <main>

    </main>


</body>
</html>