<h1>
    <%=title%>
</h1>

<form action="">
    <input type="hidden" id="id">
    <label for="username">nome</label>
    <input name="username" id="username" type="text"><br>
    <label for="password">senha</label>
    <input name="password" id="password" type="text"><br>
    <label for="email">email</label>
    <input name="email" id="email" type="text"><br>
    <label for="phone">telefone</label>
    <input name="phone" id="phone" type="text"><br>
    <button type="submit">Enviar</button>
    <button type="reset">cancelar</button>
</form>

<%if(error){%>
    <span><%=error%></span>
<%}%>

<table>
    <thead>
        <tr>
            <%for(let col of cols){%>
            <th><%=col%></th>
            <%}%>
        </tr>
    </thead>
    <tbody>
        <%for(let user of users){%>
        <tr>
           <td><%= user.username %></td>
        </tr>
         <%}%>
    </tbody>
</table>